@import url('https://fonts.googleapis.com/css2?family=Open Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #272E71;
    --white: #fff;
}

.bg-header-blue {
    background-color: var(--primary-color);
    height: 2.5rem;
    color: var(--white);
}

body {
    background: #F9FAFB;
    font-family: 'Open Sans', sans-serif;
}